body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.connexion-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  color: #333;
}

.login {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: #666;
}

.input-field {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-group {
  margin-top: 20px;
}

.button-connexion,
.button-inscription {
  width: 100%;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.button-inscription {
  background-color: #28a745; /* couleur pour le bouton d'inscription */
  margin-top: 10px; /* un petit espace entre les boutons */
}

.button-connexion:hover,
.button-inscription:hover {
  background-color: #0056b3;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.navbar {
  background-color: #333;
  color: #d514dc49;
  padding: 10px 0;
}

.navbar .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 100px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  color: #e40d8ed0;
  text-decoration: none;
}

.navbar ul li a:hover {
  text-decoration: underline;
}
